:root {
  --transition: .3s;
  --dark-background: #292929;
  --dark-text: #fff;
  --dark-hover-background: #373737;
  --dark-link-blue: #70d7ff;

  --light-background: #fff;
  --light-text: #212121;
  --light-link-blue: #3b3bee;
  --light-link-blue-hover: #efefff;
  --light-hover-background: #f1f1f1;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
  /* color: var(--light-text); */
}