@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root {
  --transition: .3s;
  --text-font-size: 1.8rem;
  --hover-blue: #2AA1FF;
  --link-blue: #2AA1FF;
  --hover-orange: #FCA417;

  --dark-background: #292929;
  --dark-text: #fff;
  --dark-hover-background: #373737;

  --light-background: #fff;
  --light-text: #212121;
  --light-link-blue-hover: #efefff;
  --light-hover-background: #f5f5f5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
}

/* @media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
} */

@media only screen and (max-width: 500px) {
  /* html {
    font-size: 100%;
  } */
}