.h1 {
  font-size: 4.8rem;
  text-align: center;
}
.h2 {
  font-size: 3.6rem;
  margin-bottom: -2rem;
  margin-top: 3rem;
}
.h3 {
  font-size: 2.4rem;
  margin-bottom: -2rem;
  margin-top: 3rem;
}
.infoFlexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.infoFlexItem {
  &__author {
    display: flex;
    align-items: center;
  }
}
.profilePhoto {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  object-position: 50% 10%;
  border-radius: 50%;
  margin-right: 1rem;
}
.byLine {
  font-size: 1.6rem;
  display: inline;
}
.date {
  font-size: 1.6rem;
}

.article {
  font-size: 1.8rem;
  margin-top: 2.5rem;
}
.p:not(:first-child) {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.note {
  color: rgb(170, 170, 170);
  font-style: italic;
  margin: 3rem 0;
}
.linkAnchor {
  font-size: var(--text-font-size);
  border-bottom: 1px solid var(--light-text);
  &:hover {
    cursor: pointer;
  }

  &__light {
    color: var(--light-text);
    &:hover {
      background-color: var(--light-text);
      color: var(--dark-text);
    }
  }

  &__dark {
    color: var(--dark-text);
    &:hover {
      background-color: var(--dark-text);
      color: var(--light-text);
    }
  }
}
.internalLinkAnchor {
  font-size: var(--text-font-size);
  color: var(--link-blue);
  &:hover {
    cursor: pointer;
    color: var(--hover-orange);
  }
}
.code {
  font-size: 1.7rem;
  border-radius: 2px;
  padding: 0.1rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  &__light {
    background-color: #ded1ff;
  }
  &__dark {
    background-color: #6348a7;
    color: var(--dark-text);
  }
}
.codeblock {
  font-size: 1.4rem;
  border-radius: 4px;
  overflow: hidden;
  &__dark {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.92);
  }
}
.caption {
  font-size: 1.2rem;
  &__light {
    color: var(--light-text);
  }
  &__dark {
    color: var(--dark-text);
  }
}
.nextPostFlexContainer {
  display: flex;
  justify-content: center;
}
.nextPost {
  font-size: 1.8rem;
  color: var(--link-blue);
  text-align: center;
  &:hover {
    color: var(--hover-orange);
  }
}
.navPostFlexContainer {
  display: flex;
  justify-content: space-between;

  .navPost {
    font-size: 1.8rem;
    width: 20rem;
    text-align: center;
    color: var(--link-blue);
    &:hover {
      color: var(--hover-orange);
    }
  }
}

@media only screen and (max-width: 700px) {
  .heroSection {
    margin: 0 1.5rem;
  }
  .article {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
