.cleanCodeSvg  {
  height: 15rem;
  width: 482px;
  display: block;
  margin: 0 auto;
  margin-top: -5rem;
}
.code1 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash .5s linear forwards;
}
.code2 {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
  animation: dash 1s linear forwards;
  animation-delay: .5s;
}
.code3 {
  stroke-dasharray: 12;
  stroke-dashoffset: 12;
  animation: dash 1s linear forwards;
  animation-delay: 1.5s;
}
.code4 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 2s;
}
.code5 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 2.5s;
}
.code6 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash .3s linear forwards;
  animation-delay: 3s;
}
.code7 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash .5s linear forwards;
  animation-delay: 3.3s;
}
.code8 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash .5s linear forwards;
  animation-delay: 3.8s;
}
.code9 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash .5s linear forwards;
  animation-delay: 4.3s;
}
.code10 {
  stroke-dasharray: 11;
  stroke-dashoffset: 11;
  animation: dash .3s linear forwards;
  animation-delay: 4.6s;
}
.code11 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  animation: dash .3s linear forwards;
  animation-delay: 4.9s;
}
.code12 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 5.4s;
}
.code13 {
  stroke-dasharray: 29;
  stroke-dashoffset: 29;
  animation: dash .5s linear forwards;
  animation-delay: 5.9s;
}
.code14 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash .5s linear forwards;
  animation-delay: 6.4s;
}
.code15 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 6.9s;
}
.code16 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  animation: dash .5s linear forwards;
  animation-delay: 7.4s;
}
.code17 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 7.9s;
}
.code18 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash .5s linear forwards;
  animation-delay: 8.4s;
}
.code19 {
  stroke-dasharray: 22;
  stroke-dashoffset: 22;
  animation: dash .5s linear forwards;
  animation-delay: 8.9s;
}
.code20 {
  stroke-dasharray: 33;
  stroke-dashoffset: 33;
  animation: dash .7s linear forwards;
  animation-delay: 9.6s;
}
.code21 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  animation: dash .5s linear forwards;
  animation-delay: 10.3s;
}
.code22 {
  stroke-dasharray: 11;
  stroke-dashoffset: 11;
  animation: dash .5s linear forwards;
  animation-delay: 10.8s;
}
.code23 {
  stroke-dasharray: 33;
  stroke-dashoffset: 33;
  animation: dash .5s linear forwards;
  animation-delay: 11.3s;
}




@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}