.text {
  margin-right: 3rem;
  height: 4rem;
  width: auto;
}
.letter__r {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
}
.part__r {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}
.letter__e1 {
  stroke-dasharray: 43;
  stroke-dashoffset: 43;
}
.letter__c {
  stroke-dasharray: 26;
  stroke-dashoffset: 26;
}
.letter__e2 {
  stroke-dasharray: 33;
  stroke-dashoffset: 33;
}
.part__n1 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
}
.part__n2 {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
}
.letter__t1__part1 {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}
.letter__t1__part2 {
  stroke-dasharray: 12;
  stroke-dashoffset: -12;
}
.part__p1 {
  stroke-dasharray: 15;
  stroke-dashoffset: -15;
}
.part__p2 {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
}
.part__p3 {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
}
.part__p4 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
}
.part__o1 {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
}
.part__o2 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
}
.part__o3 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
}
.letter__s1__part1 {
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
}
.letter__s1__part2 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
}
.letter__t2__part1 {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
}
.letter__s2__part1 {
  stroke-dasharray: 35;
  stroke-dashoffset: -35;
}
.letter__s2__part2 {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
}
.letter__t2__part2 {
  stroke-dasharray: 12;
  stroke-dashoffset: -12;
}

@media only screen and (max-width: 500px) {
  .text {
    margin-right: 0rem;
  }
}