.text {
  margin-right: 3rem;
  height: 4rem;
  width: auto;
}
.letter__r {
  stroke-dasharray: 75.28;
  stroke-dashoffset: 75.28;
}
.part__r {
  stroke-dasharray: 18.53;
  stroke-dashoffset: 18.53;
}
.letter__e1 {
  stroke-dasharray: 41.32;
  stroke-dashoffset: 41.32;
}
.letter__c {
  stroke-dasharray: 25.15;
  stroke-dashoffset: 25.15;
}
.letter__e2 {
  stroke-dasharray: 31.5;
  stroke-dashoffset: 31.5;
}
.part__n1 {
  stroke-dasharray: 15.54;
  stroke-dashoffset: 15.54;
}
.part__n2 {
  stroke-dasharray: 31.91;
  stroke-dashoffset: 31.91;
}
.letter__t1__part1 {
  stroke-dasharray: 44.61;
  stroke-dashoffset: 44.61;
}
.letter__t1__part2 {
  stroke-dasharray: 10.8;
  stroke-dashoffset: -10.8;
}
.part__p1 {
  stroke-dasharray: 10.53;
  stroke-dashoffset: -10.53;
}
.part__p2 {
  stroke-dasharray: 20.08;
  stroke-dashoffset: 20.08;
}
.part__p3 {
  stroke-dasharray: 27.18;
  stroke-dashoffset: 27.18;
}
.part__p4 {
  stroke-dasharray: 14.87;
  stroke-dashoffset: 14.87;
}
.part__o1 {
  stroke-dasharray: 10.12;
  stroke-dashoffset: 10.12;
}
.part__o2 {
  stroke-dasharray: 19.71;
  stroke-dashoffset: 19.71;
}
.part__o3 {
  stroke-dasharray: 14.53;
  stroke-dashoffset: 14.53;
}
.letter__s1__part1 {
  stroke-dasharray: 22.15;
  stroke-dashoffset: 22.15;
}
.letter__s1__part2 {
  stroke-dasharray: 13.91;
  stroke-dashoffset: 13.91;
}
.letter__t2__part1 {
  stroke-dasharray: 43.19;
  stroke-dashoffset: 43.19;
}
.letter__s2__part1 {
  stroke-dasharray: 27.9;
  stroke-dashoffset: -27.9;
}
.letter__s2__part2 {
  stroke-dasharray: 13.49;
  stroke-dashoffset: 13.49;
}
.letter__t2__part2 {
  stroke-dasharray: 10.8;
  stroke-dashoffset: -10.8;
}

@media only screen and (max-width: 500px) {
  .text {
    margin-top: 1.5rem;
    height: 3rem;
  }
}