.grid {
  display: grid;
  grid-template-columns: 300px 300px;
  width: max-content;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0 auto;
  margin-top: 2rem;
}

.linkGridItem {
  grid-column: 1 / -1;
  justify-self: center;
  z-index: 10;
  margin-top: -10px;
}

.link {
  font-size: 1.8rem;
  transition: background-color .2s;
  padding: 1rem;
  border-radius: 3px;
  &__light {
    color: var(--light-link-blue);
    &:hover {
      background-color: var(--light-hover-background);
    }
  }
  &__dark {
    color: var(--dark-link-blue);
    &:hover {
      background-color: var(--dark-hover-background);
    }
  }
}

.project {
  border-radius: 5px;
  height: 150px;
  padding: 1rem 2rem;
  z-index: 10;

  &__light {
    color: var(--light-text);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  }
  &__dark {
    color: var(--dark-text);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.92);
  }
  &:hover {
    
    cursor: pointer;

    & .readMore {
      -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}

.title {
  font-size: 2rem;
  text-align: center;
}

.text {
  font-size: 1.8rem;
}

.readMore {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 auto;
  display: block;
  opacity: 0;

  &__light {
    color: var(--light-link-blue);
  }
  &__dark {
    color: var(--dark-link-blue);
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


