.svg {
  height: 9rem;
  width: auto;
  overflow: visible;
  margin-top: -3rem;
}

@media only screen and (max-width: 500px) {
  .svg:active {
    background-color: transparent;
  }
  .svg:focus {
    background-color: transparent;
  }
}