.heroTitle {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;

  &__dark {
    color: #fff;
  }

  &__light {
    color: black;
  }
}

.heroSection {
  margin-bottom: 6rem;
}

.h2 {
  font-size: 3.6rem;
}

.text {
  font-size: var(--text-font-size);
}