.heroTitle {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;

  &__dark {
    color: #fff;
  }

  &__light {
    color: black;
  }
}

.heroSection {
  margin-bottom: 5rem;
}
.headingFlexContainer {
  display: flex;
  justify-content: space-between;
}
.h2 {
  font-size: 3.6rem;
}

.text {
  font-size: var(--text-font-size);
}

@media only screen and (max-width: 700px) {
  .heroSection {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .postsSection {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 6rem;
  }
}