.project {
  width: 100%;
  margin-bottom: 7rem;
}

.thumbnail {
  width: 50rem;
  border: 1px #eee solid;
  margin: 0 auto;
  display: block;
  // border-radius: 5px;
  
  // &:hover {
  //   box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  // }
}

.title {
  font-size: 3.6rem;
  // display: block;
  // text-align: center;
}
.subTitle {
  font-size: 2rem;
}
.stack {
  font-size: 1.6rem;
}

.siteAnchor {
  font-size: 1.6rem;
  color: var(--light-link-blue);

}

.description {
  font-size: 1.6rem;
}